body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#names-form {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

label {
  font-weight: bolder;
}

[value="Play Game"] {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  justify-self: center;
  font-weight: bold;
  font-size: 1rem;
}
