body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#names-form {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

label {
  font-weight: bolder;
}

[value="Play Game"] {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  justify-self: center;
  font-weight: bold;
  font-size: 1rem;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
}
.cell {
  background-color: lightgray;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  cursor: pointer;
}
